/*Media Queries*/
@media screen and (max-width: 440px) {
    body {
        display: flex;
        flex-direction: column;
        /*width: auto;*/
    }
    .alert-info {
        display: inline-flex;
        justify-content: center;
        background-color: #a7f8f8;
        border: 3px solid lightgrey;
        padding: 10px;
        text-decoration: none;
        color: black;
        margin-right: 10px;
    }

    .alert-info>a {
        text-decoration: none;
        color: black;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    h1 {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: .2em;
        margin-bottom: .02em;
    }

    .nav-links {
        /*display: flex;*/
        /*flex-direction: column;*/
        /*!*justify-content: center;*!*/
        /*!*align-content: center;*!*/
        /*align-items: center;*/
        width: 400px;
    }

    nav {
        display: flex;
        justify-content: center;
        align-content: center;
        width: 100%;
    }
    .nav-links li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        align-items: center;
        margin-top: .4em;
        margin-bottom: .4em;
        background-color: lightgrey;
        width: 100%;
        padding-bottom: 7px;
        padding-top: 7px;
        /*padding: 5px ;*/
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 80%;
        margin-right: 10px;
    }

    .header-img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 97%;
    }

    .sub-section {
        font-style: italic;
    }

    footer {
        font-size: small;
        display: flex;
        justify-content: space-between;
        align-items: center;
        /*width: 100%;*/
    }

    .fa-brands {

        padding: .2em;
    }

    .social-footer-icons {
        display: flex;
        justify-content: center;

    }
    #social-media-links {
        display: flex;

    }
}
@media screen and (min-width: 1000px) {
    body {
        display: flex;
        flex-direction: column;
        background: lime;
    }

    .alert-info {
        display: none;
    }

    h1 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background: blue;
        padding: 0;
        margin: 2px
    }

    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        /*align-content: center;*/
        margin: 0;
        padding: 0;
        background: lightpink;
    }

    li {
        display: flex;
        padding: 1em;
    }

    .header-img {
        display: flex;
        flex-direction: column;
    }

    .sub-section {
        font-style: italic;
        background: cadetblue;
    }

    footer {
        font-size: small;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: brown;
    }

    .fa-brands {
        padding: .2em;
        background: coral;
    }

    .social-footer-icons {
        display: flex;
        justify-content: center;
        background: deeppink;
    }
}